* {
  box-sizing: border-box;
  background-color: #f3f4f7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: FreightSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}



