* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: FreightSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  width: 50vw;
  height: 50vh;
}

tr {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}

th {
  align-self: flex-start;
  width: 25%;
  height: 100%;
  border-left: 2px solid gray;
  text-align: left;
}

td {
  width: 25%;
  height: 100%;
}

button {
  background-color: #f3f4f7;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  padding: 2%;
  text-align: left;
  padding-left: 14px;
}

button.focus {
  background-color: #ee4c2c;
  color: white;
}

button:active {
  background-color: #ee4c2c;
}

button:hover {
  background-color: #ee4c2c;
}

button:focus {
  background-color: #ee4c2c;
}

button:focus-visible {
  border: 2px solid grey;
}

code {
  text-align: left;
  padding-top: 2%;
}

th:active {
  border-left: 2px solid black;
}

* {
  box-sizing: border-box;
}
