.install-table {
  width: 50vw;
  height: 50vh;
}

.install-table tbody {
  height: 100%;
}

.install-table a {
  color: inherit;
  text-decoration: none;
}

.install-table tr {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.install-table th {
  width: 25%;

  border-left: 2px solid gray;
  text-align: left;
}

.install-table td {
  border: 1px solid transparent;

}

.install-table button {
  width: 100%;
  border: 2px solid transparent;
  padding: 4%;
  text-align: left;
  cursor: pointer;
  background-color: white;
  height: 100%;
}

.install-table code {
  display: inline-block;
  text-align: left;
  background-color: #ffffff;
  padding: 4%;
}

.install-table button.focus {
  background-color: #ee4c2c;
  color: white;
}

.install-table button:disabled {
  text-decoration: line-through;
}

.install-table button:active {
  background-color: #ee4c2c;
}

.install-table button:hover {
  background-color: #ee4c2c;
}

.install-table button:focus {
  background-color: #ee4c2c4b;
}

.install-table button:focus-visible {
  border: 2px solid grey;
}

.install-table th:active {
  border-left: 2px solid black;
}
